

<div class="jumbotron text-center">
	
<div id="example" style="text-align: -webkit-center;">
    <div class="demo-section k-content" ng-controller="MyCtrl">
        <h4>CSS</h4>
        <div kendo-progress-bar="progressBar" k-min="0" k-max="100" ng-model="css" style="width: 70%;"></div>
		<br/>
		<h4>HTML</h4>
      <div kendo-progress-bar="progressBar" k-min="0" k-max="90" ng-model="HTML" style="width: 70%;"></div>
	  
        <h4>PHP</h4>
        <div kendo-progress-bar="progressBar" k-min="0" k-max="100" ng-model="PHP" style="width: 70%;"></div>
		<br/>
		<h4>JavaScript</h4>
      <div kendo-progress-bar="progressBar" k-min="0" k-max="90" ng-model="JavaScript" style="width: 70%;"></div>
	  
        <h4>JQuery</h4>
        <div kendo-progress-bar="progressBar" k-min="0" k-max="100" ng-model="JQuery" style="width: 70%;"></div>
		<br/>
		<h4>Angular JS</h4>
      <div kendo-progress-bar="progressBar" k-min="0" k-max="90" ng-model="Angular" style="width: 70%;"></div>
	  
        <h4>WordPress</h4>
        <div kendo-progress-bar="progressBar" k-min="0" k-max="100" ng-model="WordPress" style="width: 70%;"></div>
		<br/>
		<h4>Joomla</h4>
      <div kendo-progress-bar="progressBar" k-min="0" k-max="90" ng-model="Joomla" style="width: 70%;"></div>
	  
        <h4>Drupal</h4>
        <div kendo-progress-bar="progressBar" k-min="0" k-max="100" ng-model="Drupal" style="width: 70%;"></div>
		<br/>
		<h4>CodeIgniter</h4>
      <div kendo-progress-bar="progressBar" k-min="0" k-max="90" ng-model="CodeIgniter" style="width: 70%;"></div>
	  
        <h4>Android Application </h4>
        <div kendo-progress-bar="progressBar" k-min="0" k-max="100" ng-model="Android" style="width: 70%;"></div>
		<br/>
		<h4>SQL </h4>
      <div kendo-progress-bar="progressBar" k-min="0" k-max="90" ng-model="SQL" style="width: 70%;"></div>
	  
    </div>
</div>

<canvas id="my_canvas" width="70" height="70" style="border:1px dashed #CCC;"></canvas>
<script>
var ctx = document.getElementById('my_canvas').getContext('2d');
var al = 0;
var start = 4.72;
var cw = ctx.canvas.width;
var ch = ctx.canvas.height; 
var diff;
function progressSim(){
	diff = ((al / 100) * Math.PI*2*10).toFixed(2);
	ctx.clearRect(0, 0, cw, ch);
	ctx.lineWidth = 10;
	ctx.fillStyle = '#09F';
	ctx.strokeStyle = "#09F";
	ctx.textAlign = 'center';
	ctx.fillText(al+'%', cw*.5, ch*.5+2, cw);
	ctx.beginPath();
	ctx.arc(35, 35, 30, start, diff/10+start, false);
	ctx.stroke();
	if(al >= 100){
		clearTimeout(sim);
	   
	}
	al++;
}
var sim = setInterval(progressSim, 50);
</script>

</div>