<head>
  
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.2.714/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.2.714/styles/kendo.material.min.css" />

    <script src="//kendo.cdn.telerik.com/2016.2.714/js/jquery.min.js"></script>
    <script src="//kendo.cdn.telerik.com/2016.2.714/js/angular.min.js"></script>
    <script src="//kendo.cdn.telerik.com/2016.2.714/js/kendo.all.min.js"></script>
</head>

<div class="jumbotron text-center">
	
aaaaaaaaaa1
2
<canvas id="my_canvas" width="70" height="70" style="border:1px dashed #CCC;"></canvas>

<div id="example" ng-app="KendoDemos" style="text-align: -webkit-center;">
    <div class="demo-section k-content" ng-controller="MyCtrl">
        <h4>CSS</h4>
        <div kendo-progress-bar="progressBar" k-min="0" k-max="100" ng-model="css" style="width: 70%;"></div>
		<br/>
		<h4>HTML</h4>
      <div kendo-progress-bar="progressBar" k-min="0" k-max="90" ng-model="HTML" style="width: 70%;"></div>
	  
        <h4>PHP</h4>
        <div kendo-progress-bar="progressBar" k-min="0" k-max="100" ng-model="PHP" style="width: 70%;"></div>
		<br/>
		<h4>JavaScript</h4>
      <div kendo-progress-bar="progressBar" k-min="0" k-max="90" ng-model="JavaScript" style="width: 70%;"></div>
	  
        <h4>JQuery</h4>
        <div kendo-progress-bar="progressBar" k-min="0" k-max="100" ng-model="JQuery" style="width: 70%;"></div>
		<br/>
		<h4>Angular JS</h4>
      <div kendo-progress-bar="progressBar" k-min="0" k-max="90" ng-model="Angular" style="width: 70%;"></div>
	  
        <h4>WordPress</h4>
        <div kendo-progress-bar="progressBar" k-min="0" k-max="100" ng-model="WordPress" style="width: 70%;"></div>
		<br/>
		<h4>Joomla</h4>
      <div kendo-progress-bar="progressBar" k-min="0" k-max="90" ng-model="Joomla" style="width: 70%;"></div>
	  
        <h4>Drupal</h4>
        <div kendo-progress-bar="progressBar" k-min="0" k-max="100" ng-model="Drupal" style="width: 70%;"></div>
		<br/>
		<h4>CodeIgniter</h4>
      <div kendo-progress-bar="progressBar" k-min="0" k-max="90" ng-model="CodeIgniter" style="width: 70%;"></div>
	  
        <h4>Android Application </h4>
        <div kendo-progress-bar="progressBar" k-min="0" k-max="100" ng-model="Android" style="width: 70%;"></div>
		<br/>
		<h4>SQL </h4>
      <div kendo-progress-bar="progressBar" k-min="0" k-max="90" ng-model="SQL" style="width: 70%;"></div>
	  
    </div>
</div>

</div>